<style>
    body{
        font-size:75%;
        margin-top:0px;
    }

    .printpage{
        height:100%;
        width:800px;
        margin:auto;
        clear: both;
    }
    .inner{
        width:100%;
        margin:auto;
    }
    #first {
        text-align : center;
    }

    #second {
        width:700px;
        height:50px;
        margin-top:10px;
        text-align: center;
        float: left;
        font-size: 95%;
    }
    #third {
        margin-top:0px;
        text-align: left;
        clear:both;
        font-size: 95%;
    }
    .chko {
        width: 80px;
        height: 80px;
        display:block
    }
    #chko1{
        margin-top:10px;
        float: left;
    }
    #chko2{
        position:relative; left:130px; top:0px;
    }

    #rs{
        position: absolute;
        left: 200px;
        top: 0px;
        width:370px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #chkotext{
        font-weight: bold;
    }
    #bik {
        font-size: 110%;
        font-weight: bold;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    #inn{
        position: absolute;
        left: 150px;
        top: 21px;
    }
    #fio{
        font-size: 110%;
        font-weight: bold;
        position: absolute;
        left: 0px;
        top: 40px;
        width:550px;

    }
    #adress {
        font-weight: bold;
        position: absolute;
        left: 0px;
        top: 60px;
        width:550px;
    }
    h3{
        text-align: center;
        font-size: 130%;
    }
    h4{
        text-align: center;
        font-size: 120%;
        font-weight:normal ;
        margin:6px;
    }
    .sums{
        vertical-align: top;
        text-align: center;
    }
    #rs #fio #adress{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
<div class='no-print' style="height:100%; width:800px; margin:auto;">
    <div style="margin:5px;float:right;">
        <button id="printbtn" style="width:100px; margin-top:10px">Печать</button>
    </div>
    <div style="margin:5px;float:right;">
        <button id="backbtn" style="width:100px; margin-top:10px">Закрыть</button>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="printpage" >

<div id=second class="inner">
    Специализированная некоммерческая организация "Региональный фонд капитального ремонта
    многоквартирных домов, расположенных на территории Новгородской области"
    <h3>Новгородская область, Великий Новгород, проспект А.Корсунова, д.19Б, кв.5</h3>
</div>
<img id="chko1" class="chko" src="/node/image/capital/chko_logo.png">
<div id="third" class="inner">
    <p>Прием взносов на капитальный ремонт осуществляется:</p>
    <p>
        - в 14 отделениях Новгородского регионального филиала ОАО "Россельхозбанк", расположенных на территории области, список
        которых размещен на сайте СНКО "Региональный фонд" по адресу: www.kapremont53.ru, без комиссии в случае, если счет для
        формирования фонда капитального ремонта открыт в региональном филиале ОАО "Россельхозбанка". Если счет открыт в ином
        банке, комиссионное вознаграждение составляет 2% от суммы платежа, минимум 60 рублей;
    </p>
    <p>
        - в 21 расчетно-кассовом центре МУП Великого Новгорода "ИАЦ по ЖКХ". Комиссия за прием взносов установлена в размере 13
        рублей;
    </p>
    <p>
        - в отделениях почтовой связи, комиссия за прием взносов в которых установлена в размере 15 рублей;
    </p>
    <p>
        - в Новгородском отделении № 8629 ОАО "Сбербанк России". При оплате квитанции установлено комиссионное
    </p>
    <p>
        1. При оплате через операционно-кассового сотрудника: по наличным и безналичным платежам по разовому поручению - 3%
        от суммы, min - 30 руб.;
    </p>
    <p>
        2. При оплате через устройства самообслуживания: по безналичным платежам-1% от суммы; по наличным платежам - 2% от
        суммы, min-10 руб.;
    </p>
    <p>
        3. При оплате через "Сбербанк Онл@йн", Автоплатеж - 1% от суммы;
    </p>
    <p>4. В новгородских отделениях ЗАО "БИНБАНК кредитные карты". При оплате установлено комиссионное вознаграждение - 1%
        от суммы, min - 5 руб.</p>
    <p>Информация об адресах и контактных телефонах размещена на сайте СНКО "Региональный фонд".<p>
    <p>Доставку платежных документов осуществляет ФГУП "Почта России".<p>
    Обращаем Ваше внимание, что с 1 апреля 2015 года оплата через устройства самообслуживания Новгородского
    отделения ОАО "Сбербанк России" будет возможна по двумерному штрих-коду (рисунок в виде квадрата).<br>
    СНКО "Региональный фонд" располагается в Великом Новгороде по адресу : 173005 Великий Новгород, пл. Победы-
    Софийская, д.1, тел. 8-(816-2)-782-029, e-mail: info@kapremont53.ru, сайт: www.kapremont53.ru<br>
    По вопросам начисления взносов на капитальный ремонт обращаться в расчетно-кассовый центр № 13 по адресу : Великий
    Новгород, ул.Ломоносова, д.6/2, тел. 8-(816-2) 62-78-34 или в МУП "ИАЦ по ЖКХ" по адресу: 173001, Великий Новгород, ул.
    Стратилатовская, д. 3, тел.8-(816-2) 77-23-35, сайт: vn-iac.ru.<br>
    В случае некорректного начисления взносов на капитальный ремонт необходимо представить или направить по почте в РКЦ № 13
    заявление и документы для перерасчета.<br>

    <h3>Срок оплаты до&nbsp;{{shap10}}</h3>

</div>
<div class="inner">
    <style>
        TABLE {
            width: 100%; /* Ширина таблицы */
            height: 451px;
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
            margin:auto;
            font: 100% "Trebuchet MS", sans-serif;
        }
        TD {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
    </style>

    <table>
        <tr>
            <td width="240" rowspan="4" style="vertical-align: top;text-align: right;border-left:none;">
                КОНТРОЛЕР-КАССИР&nbsp;
            </td>
            <td height="111" colspan="7">
                <div id="cellcontainer" style="width : 100%; height:  100%; position:relative;">
                    <div id="chkotext">
                        СНКО "Региональный фонд",р/с №&nbsp;
                    </div>
                    <div id="rs" >
                        {{rs}}&nbsp;{{bank}}
                    </div>
                    <div id="bik" >
                        БИК&nbsp;{{bik}},
                    </div>
                    <div id="inn" >
                        ИНН 5321801523, КПП 532101001, к/с №&nbsp;{{ks}}
                    </div>
                    <div id="fio" >
                        {{fiolic}}
                    </div>
                    <div id="adress" >
                        {{adres}}{{adres1}}
                    </div>
                    <div style="position: absolute; left: 410px; top: 75px;font-size: 120%;font-weight: bold;">
                        л/с №&nbsp;{{lnShort}}
                    </div>

                    <div  style="position: absolute; left: 0px; top: 98px;font-weight:bold;">
                        К В И Т А Н Ц И Я О ПЛАТЕЖЕ ЗА
                    </div>
                    <div style="position: absolute; left: 210px; top: 95px;font-weight:bold;font-size: 120%;">
                        {{mes}}
                    </div>
                    <div id="S" style="position: absolute; left: 410px; top: 95px; font-size: 120%;">
                        Площадь&nbsp;{{sq}}&nbsp;кв.м.
                    </div>
                </div>
            </td>
        </tr>
        <tr style="text-align: center;">
            <td width="75" height="47">Вид платежа&nbsp;</td>
            <td width="75">Площадь помещения, кв.м&nbsp;</td>
            <td width="75">Размер взноса, руб. за 1 кв.м&nbsp;</td>
            <td width="75">Начислено, руб.&nbsp;</td>
            <td width="75">Перерасчет, руб.&nbsp;</td>
            <td width="75">К оплате, руб.&nbsp;</td>
            <td width="104" rowspan="2">
                <div id="cellcontainer" style=" position:relative; width : 100%; height:  100%;">
                    <div style="position: absolute; left: 5px; top: 40px; height: 70px; width: 80px; border: 2px solid darkgrey; text-align: center;padding-top: 5px">
                        <span style="font-size: 100%;font-weight: bold">ИТОГО К ОПЛАТЕ</span>
                        <br><br>
                        <span style="font-size: 120%;font-weight: bold;">{{asum}}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td height="65" style="text-align: left;vertical-align: top;">Взнос на
                капитальный
                ремонт<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ИТОГО</td>
            <td class="sums">{{sq}}</td>
            <td class="sums">{{tkaprem}}</td>
            <td class="sums">{{cap}}</td>
            <td class="sums">{{recap}}</td>
            <td style="text-align: right;vertical-align: top;">
                {{asum}}<br><br><br><br>{{asum}}
            </td>
        </tr>
        <tr>
            <td height="32">дата</td>
            <td colspan="2">подпись</td>
            <td colspan="2">пени</td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td height="260" style="vertical-align: top;text-align: right;border-left:none;">
                <img id="chko2" class="chko" src="/node/image/capital/chko_logo.png">
                <br><br><br><br><br><br><br><br><br><br><br><br>
                КОНТРОЛЕР-КАССИР
            </td>
            <td colspan="7">
                <div id="cellcontainer" style="width : 100%; height:  100%; position:relative;">
                    <div id="chkotext">
                        СНКО "Региональный фонд",р/с №&nbsp;
                    </div>
                    <div id="rs">
                        {{rs}}&nbsp;{{bank}}
                    </div>
                    <div id="bik" >
                        БИК&nbsp;{{bik}},
                    </div>
                    <div id="inn" >
                        ИНН 5321801523, КПП 532101001, к/с №&nbsp;{{ks}}
                    </div>
                    <div id="fio" >
                        {{fiolic}}
                    </div>
                    <div id="adress" >
                        {{adres}}{{adres1}}
                    </div>

                    <div style="position: absolute; left: 0px; top: 100px;font-weight: bold;">
                        И З В Е Щ Е Н И Е О ПЛАТЕЖЕ ЗА
                    </div>
                    <div style="position: absolute; left: 200px; top:97px;font-weight:bold;font-size: 120%;">
                        {{mes}}
                    </div>
                    <div id="barcode" style="position: absolute; left: 22px; top:130px; width:130px; height:130px;">
                        <img style="display:block;" src='/node/qrcode?shtk={{QRshtk}}' />
                    </div>
                    <div id="lsbottom" style="position: absolute; left: 170px; top: 120px; width:140px; height:40px; border: 1px solid black;text-align: center;">
                        Лицевой счет<br>
                        №&nbsp;{{lnShort}}
                    </div>
                    <div style="position: absolute; left: 170px; top:161px; width:140px; height:20px; border: 1px solid black;">
                        К оплате:&nbsp;{{asum}}
                    </div>
                    <div style="position: absolute; left: 170px; top:184px; width:140px; height:20px; border: 1px solid black;">
                        пени
                    </div>
                    <div style="position: absolute; left: 170px; top:207px; width:140px; height:20px; border: 1px solid black;">
                        ВСЕГО
                    </div>
                    <div style="position: absolute; left: 170px; top:230px; width:140px; height:20px; border: 1px solid black;">
                        дата
                    </div>
                    <div id="barcode" style="position: absolute; left: 350px; top:140px; width:200px; height:30px;">
                        <img style="width: 100%; height: 100%;display:block;" src='/node/code128?shtk={{shtk}}' />
                    </div>
                    <div id="barcodeval" style="position: absolute; left: 350px; top:185px; ">
                        {{shtk}}
                    </div>
                    <div id="s" style="position: absolute; left: 350px; top:205px; font-size: 120%">
                        Площадь&nbsp;{{sq}}&nbsp;кв.м.
                    </div>
                    <div id="podpis" style="position: absolute; left: 350px; top:225px; width:200px; height:30px; border: 1px solid black;">
                        <span style="position:relative;top:30%;">подпись</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>