<style>
    body{
        font-size:75%;
        margin-top:0px;
    }

    .printpage{
        height:100%;
        width:800px;
        margin:auto;
        clear: both;
    }
    .inner{
        width:100%;
        margin:auto;
    }
    #first {
         text-align : center;
    }

    #second {
        width:700px;
        height:100px;
        margin-top:10px;
        text-align: center;
        float: left;
    }
    .chko {
        width: 80px;
        height: 80px;
        display:block
    }
    #chko1{
        margin-top:10px;
        float: left;
    }
    #chko2{
        position:relative; left:130px; top:0px;
    }
    #third {
        margin-top:150px;
        text-align: left;
        clear:both;
    }
    #rs{
        position: absolute;
        left: 200px;
        top: 0px;
        width:370px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #chkotext{
        font-weight: bold;
    }
    #bik {
        font-size: 110%;
        font-weight: bold;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    #inn{
        position: absolute;
        left: 150px;
        top: 21px;
    }
    #fio{
        font-size: 110%;
        font-weight: bold;
        position: absolute;
        left: 0px;
        top: 40px;
        width:550px;

    }
    #adress {
        font-weight: bold;
        position: absolute;
        left: 0px;
        top: 60px;
        width:550px;
    }
    h3{
        text-align: center;
        font-size: 130%;
    }
    h4{
        text-align: center;
        font-size: 120%;
        font-weight:normal ;
        margin:6px;
    }
    .sums{
        vertical-align: top;
        text-align: center;
    }
    #rs #fio #adress{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

</style>
<div class='no-print' style="height:100%; width:800px; margin:auto;">
<div style="width:100%px; height: 100%;margin:5px;float:right;">
    <button id="printbtn" style="width:100px; margin-top:10px">Печать</button>
</div>
<div style="width:100%px; height: 100%;margin:5px;float:right;">
    <button id="backbtn" style="width:100px; margin-top:10px">Закрыть</button>
</div>
</div>
<div class="printpage" >
<div id=first class="inner">
<-------------------------------------- Для вскрытия квитанции - согнуть края по линии перфорации и оторвать --------------------------------------------->
</div>
<div id=second class="inner">
Специализированная некоммерческая организация "Региональный фонд капитального ремонта
многоквартирных домов, расположенных на территории Новгородской области"
<h3>Новгородская область, Великий Новгород, проспект А.Корсунова, д.19Б, кв.5</h3>
</div>
    <img id="chko1" class="chko" src="/image/chko_logo.png">
<div id="third" class="inner">
<h3>Уважаемые Плательщики взносов на капитальный ремонт!</h3>
<h4>При оплате через терминал либо онлайн-сервисы необходимо указывать в назначении платежа
    <span style="font-weight: bold;font-size:120%;">номер лицевого счета</span> для корректного отображения оплаты.
</h4>
<span style="font-size:120%;">Специализированной некоммерческой организацией "Региональный фонд" заключены договоры по
обеспечению приема платежей от физических лиц с МУП Великого Новгорода "Информационно-
аналитический центр по жилищно-коммунальному хозяйству" ; ОАО "Российский Сельскохозяйственный
банк" ; ФГУП "Почта России" ; ОАО "Сбербанк России".</span>
<br><br><br><br><br><br>

Информация об адресах и контактных телефонах размещена на сайте СНКО "Региональный фонд".<br>
Доставку платежных документов осуществляет ООО "Уездный город". Офис компании расположен по адресу: ул. Московская, дом
53, офис 39 а. Контактные телефоны: 8-8162-94-84-75, мобильный телефон - 8-960-203-48-13.<br>
СНКО "Региональный фонд" располагается в Великом Новгороде по адресу : ул. Псковская, д.13, Великий Новгород, 173009;
тел. 8-(816-2)-782-001, факс: 8-(816-2)-782-035, e-mail: info@kapremont53.ru, сайт: www.kapremont53.ru <br>
По вопросам начисления взносов на капитальный ремонт обращаться в расчетно-кассовый центр № 13 по адресу : ул.Ломоносова,
д.6/2, тел. 8-(816-2) 62-78-34 или в МУП "ИАЦ по ЖКХ" по адресу: 173001, Великий Новгород, ул. Стратилатовская, д. 3, тел.8-
(816-2) 77-23-35, сайт: vn-iac.ru.<br><
В случае некорректного начисления взносов на капитальный ремонт необходимо представить или направить по почте в РКЦ № 13
заявление и документы для перерасчета.

<br><br><br>
<h3>Срок оплаты до&nbsp;{{shap10}}</h3>

</div>
<div class="inner">
<style>
    TABLE {
        width: 100%; /* Ширина таблицы */
        height: 451px;
        border-collapse: collapse; /* Убираем двойные линии между ячейками */
        margin:auto;
        font: 100% "Trebuchet MS", sans-serif;
    }
    TD {
        padding: 3px; /* Поля вокруг содержимого таблицы */
        border: 1px solid black; /* Параметры рамки */
    }
</style>

    <table>
        <tr>
            <td width="240" rowspan="4" style="vertical-align: top;text-align: right;border-left:none;">
                КОНТРОЛЕР-КАССИР&nbsp;
            </td>
            <td height="111" colspan="7">
                <div id="cellcontainer" style="width : 100%; height:  100%; position:relative;">
                    <div id="chkotext">
                    СНКО "Региональный фонд",р/с №&nbsp;
                    </div>
                    <div id="rs" >
                        {{rs}}&nbsp;{{bank}}
                    </div>
                    <div id="bik" >
                        БИК&nbsp;{{bik}},
                    </div>
                    <div id="inn" >
                        ИНН 5321801523, КПП 532101001, к/с №&nbsp;{{ks}}
                    </div>
                    <div id="fio" >
                        {{fiolic}}
                    </div>
                    <div id="adress" >
                        {{adres}}{{adres1}}
                    </div>
                    <div style="position: absolute; left: 410px; top: 75px;font-size: 120%;font-weight: bold;">
                        л/с №&nbsp;{{lnShort}}
                    </div>

                    <div  style="position: absolute; left: 0px; top: 98px;font-weight:bold;">
                        К В И Т А Н Ц И Я О ПЛАТЕЖЕ ЗА
                    </div>
                    <div style="position: absolute; left: 210px; top: 95px;font-weight:bold;font-size: 120%;">
                    {{mes}}
                    </div>
                    <div id="S" style="position: absolute; left: 410px; top: 95px; font-size: 120%;">
                        Площадь&nbsp;{{sq}}&nbsp;кв.м.
                    </div>
                </div>
            </td>
        </tr>
        <tr style="text-align: center;">
            <td width="75" height="47">Вид платежа&nbsp;</td>
            <td width="75">Площадь помещения, кв.м&nbsp;</td>
            <td width="75">Размер взноса, руб. за 1 кв.м&nbsp;</td>
            <td width="75">Начислено, руб.&nbsp;</td>
            <td width="75">Перерасчет, руб.&nbsp;</td>
            <td width="75">К оплате, руб.&nbsp;</td>
            <td width="104" rowspan="2"
                <div id="cellcontainer" style=" position:relative;">
                    <div style="position: absolute; left: 5px; top: 50px; height: 70px; width: 80px; border: 2px solid darkgrey; text-align: center;padding-top: 5px">
                        <span style="font-size: 100%;font-weight: bold">ИТОГО К ОПЛАТЕ</span>
                        <br><br>
                         <span style="font-size: 120%;font-weight: bold;">{{asum}}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td height="65" style="text-align: left;vertical-align: top;">Взнос на
                капитальный
                ремонт<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ИТОГО</span></td>
            <td class="sums">{{sq}}</td>
            <td class="sums">{{tkaprem}}</td>
            <td class="sums">{{cap}}</td>
            <td class="sums">{{recap}}</td>
            <td style="text-align: right;vertical-align: top;">
                {{asum}}<br><br><br><br>{{asum}}
            </td>
        </tr>
        <tr>
            <td height="32">дата</td>
            <td colspan="2">подпись</td>
            <td colspan="2">пени</td>
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td height="260" style="vertical-align: top;text-align: right;border-left:none;">
                <img id="chko2" class="chko" src="/image/chko_logo.png">
                <br><br><br><br><br><br><br><br><br><br><br><br>
                КОНТРОЛЕР-КАССИР
            </td>
            <td colspan="7">
                <div id="cellcontainer" style="width : 100%; height:  100%; position:relative;">
                    <div id="chkotext">
                        СНКО "Региональный фонд",р/с №&nbsp;
                    </div>
                    <div id="rs">
                        {{rs}}&nbsp;{{bank}}
                    </div>
                    <div id="bik" >
                        БИК&nbsp;{{bik}},
                    </div>
                    <div id="inn" >
                        ИНН 5321801523, КПП 532101001, к/с №&nbsp;{{ks}}
                    </div>
                    <div id="fio" >
                        {{fiolic}}
                    </div>
                    <div id="adress" >
                        {{adres}}{{adres1}}
                    </div>

                    <div style="position: absolute; left: 0px; top: 100px;font-weight: bold;">
                        И З В Е Щ Е Н И Е О ПЛАТЕЖЕ ЗА
                    </div>
                    <div style="position: absolute; left: 200px; top:97px;font-weight:bold;font-size: 120%;">
                        {{mes}}
                    </div>
                    <div id="lsbottom" style="position: absolute; left: 10px; top: 120px; width:140px; height:40px; border: 1px solid black;text-align: center;">
                        Лицевой счет<br>
                        №&nbsp;{{lnShort}}
                    </div>
                    <div style="position: absolute; left: 10px; top:161px; width:140px; height:20px; border: 1px solid black;">
                        К оплате:&nbsp;{{asum}}
                    </div>
                    <div style="position: absolute; left: 10px; top:184px; width:140px; height:20px; border: 1px solid black;">
                        пени
                    </div>
                    <div style="position: absolute; left: 10px; top:207px; width:140px; height:20px; border: 1px solid black;">
                        ВСЕГО
                    </div>
                    <div style="position: absolute; left: 10px; top:230px; width:140px; height:20px; border: 1px solid black;">
                        дата
                    </div>
                    <div id="barcode" style="position: absolute; left: 200px; top:140px; width:300px; height:40px; border: 1px solid black;">
                        <img style="width: 100%; height: 100%;display:block;" src='/code128?shtk={{shtk}}' />
                    </div>
                    <div id="barcodeval" style="position: absolute; left: 200px; top:185px; ">
                        {{shtk}}
                    </div>
                    <div id="s" style="position: absolute; left: 200px; top:205px; font-size: 120%">
                        Площадь&nbsp;{{sq}}&nbsp;кв.м.
                    </div>
                    <div id="podpis" style="position: absolute; left: 200px; top:225px; width:300px; height:30px; border: 1px solid black;">
                        <span style="position:relative;top:30%;">подпись</span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
<script language=javascript>
    $("#printbtn").click(function() {
        window.print();
    });
    $("#backbtn").click(function() {
        window.close()
    });
</script>