<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--для bootstrap масштабирование-->
    <title>Учет показаний счетчиков</title>
    <link href="/node/stylesheets/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet">
    <!-- DataTables CSS -->
	<link href="/node/external/DataTables-1.10.11/media/css/jquery.dataTables.css" rel="stylesheet">
	<!-- Scroller for datatables -->
    <!--<link href="/node/external/DataTables-1.10.11/extensions/Scroller/css/dataTables.scroller.css" rel="stylesheet">-->
    <link href="/node/external/DataTables-1.10.11/extensions/Select/css/select.dataTables.css" rel="stylesheet">
    <link href="/node/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <!--scripts-->
    <script src="/node/external/jquery/jquery.js"></script>
    <script src="/node/jquery-ui.js"></script>
    <script src="/node/external/DataTables-1.10.11/media/js/jquery.dataTables.js"></script>
    <script src="/node/external/DataTables-1.10.11/extensions/Scroller/js/dataTables.scroller.js"></script>
    <script src="/node/external/DataTables-1.10.11/extensions/Select/js/dataTables.select.min.js"></script>
    <!-- own library-->
    <script src="/node/javascript/common.js"></script>
   <!-- <base href="http://vn-iac.ru">--><!--Для phantom.js-->

    <script src="http://malsup.github.com/jquery.form.js"></script> <!--jquery plugin для форм-->

</head>

<style>


    @media print
    {
        .no-print, .no-print *
        {
            display: none !important;
        }
    }
    /*для самой верхней панели*/
    .navbar-bootsnipp {
        background-color: #FFF;
        border-color: #5FB0E4;
        border-radius: 0;
        margin-bottom: 0;
    }
    /*верхняя панел накладывается поверх бади, поэтому сдвигаем бади в низ*/
    body { padding-top: 70px; }
</style>
<body>
<nav class="navbar navbar-fixed-top navbar-bootsnipp">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <div class="collapse navbar-collapse">
            <p class="navbar-text pull-right"><a href="http://vn-iac.ru/" class="navbar-link navbar-right">Главная</a></p>
            {{#user}}
                <p class="navbar-text pull-right"><a href="/node/logout" class="navbar-link navbar-right">Выйти</a></p>
            {{/user}}
            {{#if admin}}
                <p class="navbar-text pull-right"><a href="/node/admin" class="navbar-link navbar-right">Администратор</a>&nbsp;</p>
            {{/if}}
        </div>
    </div>
</nav>
   {{{body}}}
<script src="/node/bootstrap-3.3.5-dist/js/bootstrap.js"></script>
</body>
</html>
