<!-- login modal window-->
<link rel="stylesheet" type="text/css" media="all" href="/node/stylesheets/loginmodal/style.css">
<script type="text/javascript" charset="utf-8" src="/node/external/loginmodal/jquery.leanModal.min.js"></script>
<style>
body{
     margin-left: 0px;
     margin-top: 15px;
    }
.mainContainer {
    /*position: relative;*/
    float: left;
    max-width: 1140px;
    min-width: 800px;
    margin:  auto;
    height:90%;
}

</style>

<div class="mainContainer">
   <!-- <div id="loginmodal" style="display:none;">-->
    <div id="loginmodal" style="display: block; position: fixed; opacity: 1; z-index: 11000; left: 50%; margin-left: -150px; top: 110px;">
        <h1>Вход</h1>
    <p>{{message}}</p>
    <form id="loginform" name="loginform" action="/node/login" method="post">
        <div>
            <label for="username">Логин:</label>
            <input type="text" name="username" id="username" class="txtfield" tabindex="1" />
        </div>
        <div>
            <label for="password">Пароль:</label>
            <input type="password" name="password" id="password" class="txtfield" tabindex="2"/>
        </div>
        <!--<div>-->
            <!--<input type="submit" value="Submit"/>-->
           <div class="center"><input type="submit" name="loginbtn" id="loginbtn" class="flatbtn-blu hidemodal" value="Войти" tabindex="3"></div>
        <!--</div>-->
    </form>
    </div>
</div>
<script type="text/javascript">
    /*
    $(function(){
        $('#loginform').submit(function(e){
            return false;
        });

        $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
    });
    */
</script>


