<style>
    .fileWrap {
        float:left;
        width:50%;
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;

        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .btn-upload input[type=submit] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .nav-pills > li.active > a {
        border-radius: 4px 4px 0px 0px;
    }
    .myProgress {
        margin-left:2% ;
        height: 34px;
        width: 48%;
        float: left;
    }

</style>
<link href="/node/stylesheets/counters-common-style.css" rel="stylesheet"><!--общие стили страниц vn_iac-->
<link href="/node/stylesheets/nav-pills-stacked.css" rel="stylesheet"><!--стили меню слева-->
<div class="nav-main">

    <ul class="nav nav-pills nav-stacked">
        <!--<li class="active"  <li id="hvodbtn"><a href="#" class="active2"-->
        <li class="active" onclick="location.href='/node/admin'"><a href="#"><span
                class="glyphicon glyphicon-home"></span></a></li>
        <li id="sendbtn"><a href="#"><span class="glyphicon glyphicon-send"></span>&nbsp;Отправить все
            неотправленные</a></li>
        <li id="cancelbtn"><a href="#"><span class="glyphicon glyphicon-remove"></span>&nbsp;Удалить выделенные</a></li>
    </ul>

</div><!-- nav-main -->
<div class="mainContainer">

    <div class="alert alert-success" role="alert" id="message" style="display:none">
                <span id="messagetxt">Отправлено успешно
                </span>
    </div>
    <div class = "fileWrap">
        <form id="myForm" enctype="multipart/form-data" method="POST">
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Файл для отправки...<input type="file" name="filefield">
                    </span>
                    <span class="btn btn-default btn-upload" id="upload" style="display:none;">
                    Загрузить
                        <input type="submit">
                    </span>
                </span>
                <input type="text" id="filename" class="form-control" readonly="">
            </div>
        </form>
    </div>
    <div class="progress myProgress" >
        <div id="progressbar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100" style="width: 0%;">
        </div>
    </div>

    <div style="clear:both"></div>


    <div class="panel panel-default">
        <div class="panel-heading">Платежи отправленные в Ростелеком</div>

        <br>
        <!-- Table https://datatables.net -->
        <table id="example" class="display table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th style="width:30px;" class="select-checkbox" onclick="toggleSelectedRows(this)"></th>
                <th style="text-align: right;">время платежа (payTime)</th>
                <th style="text-align: right;">лицевой счет (svcNum)</th>
                <th style="text-align: right;">сумма платежа <br> (payAmount)</th>
                <th style="text-align: center;">статус</th>
                <th style="text-align: left;">ответ ростелекома</th>
            </tr>
            </thead>
        </table>

    </div>
    <!--panel panel-default-->

</div> <!--main container -->
<div class="footer">
</div>
<script src='/node/socket.io/socket.io.js'></script>
<script src="/node/javascript/common.js"></script>
<script>
    //обвязка прогрессбара
/*
    function makeProgress() {
        var currentCount = 0;
        return { // возвратим объект
            getnext: function (data) {
                //console.log(currentCount+ data.progressinc);
                currentCount = parseFloat(currentCount) + parseFloat(data.progressinc);
                if (currentCount > 100) {
                    currentCount = 100
                }
                ;
                $("#progressbar").width(parseInt(currentCount) + "%");
                $("#progressbar").text(data.message + ' ' + parseInt(currentCount) + "%");
            },
            reset: function () {
                currentCount = 0;
                $("#progressbar").width('0%');
                $("#progressbar").text("");
            },
            val: function () {
                return currentCount
            }
        }
    }
*/
    ;
    var progress = makeProgress("#progressbar");
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        //input.trigger('fileselect', [numFiles, label]);
        $("#filename").val(label);
        $("#upload").show();
    });
    $(document).on('click', '.btn-file :file', function () {
        progress.reset() //обнуление прогрессбара
    });

    $(document).ready(function () {
        //Initialise Table
        var table = $('#example').DataTable({
            deferRender: true,
            scrollY: 300,
            dom: "frtiS",
            "searching": true,
            "order": [[4, "asc"],[1, "desc"]],
            "ajax": '/node/rostelecom/ourdata',
            "language": {
                "url": "/node/external/DataTables-1.10.11/language/dataTables.Russian.txt"
            },
            "columns": [
                {
                    "data": null,
                    "defaultContent": ""
                },
                {
                    "data": "payTime",
                    "className": "dt-body-right"
                },
                {
                    "data": "svcNum",
                    "className": "dt-body-right"
                },
                {
                    "data": "payAmount",
                    "className": "dt-body-right"
                },
                {
                    "data": "status",
                    "className": "dt-body-center"
                },
                {
                    "data": "lastReqNote",
                    "className": "dt-body-left"
                },
            ],
            "columnDefs": [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            select: {
                style: 'multi',
                selector: 'td:first-child'
            }
        });


        socket = io.connect(location.protocol + '//' + location.host, {path: '/node/socket.io'});

        socket.on('progressinc', function (data) {
            progress.getnext(data);
            if (progress.val() >= 100) {
                table.ajax.reload();
            }
        });
        socket.on('progressfinish', function (data) {
            var table = $('#example').DataTable();
            table.ajax.reload();
        });
        //отправка файла post запросом
        $('#myForm').ajaxForm({
            beforeSubmit: function (arr, $form, options) {
                // form data array is an array of objects with name and value properties
                // return false to cancel submit
                progress.reset() //обнуление прогрессбара
            },
            url: '/node/rostelecom/upload',
            dataType: 'json',
            success: function (response) {
                alert("The server says: " + response);
            }
        });

    });

    function toggleSelectedRows(el) {//установка\ снятие чекбоксов строк
        var table = $('#example').DataTable();
        if ($(el).parent().toggleClass("selected").hasClass("selected")) {
            //table.rows().select();
            table.rows({search: 'applied'}).select() //только те строки которые отфильтрованы
        } else {
            //table.rows().deselect();
            table.rows({search: 'applied'}).deselect()
        }
        ;
    }
    ;
    $(document).on('click', '.select-checkbox', function () {//Сброс чекбокса когда снят выбор с последней колонки
        var table = $('#example').DataTable();
        if (table.rows('.selected').count() == 0) {
            $("table.dataTable tr.selected").toggleClass("selected");
        }
        ;
    });
    $('#cancelbtn').click(function (event) {

        var table = $('#example').DataTable();
        var d = [];
        var rows = table.rows('.selected').data();//идем по строкам с классом selected
        for (i = 0; i < rows.length; i++) {//создаем массив с id выделенных платежей
            d.push(rows[i].payment_id)
        };
        progress.reset(); //обнуление прогрессбара
        $.ajax({
            url: '/node/rostelecom/cancel',
            type: 'GET',
            data: {ids: d},
            cache: false,
            error: function (jqXHR, textStatus, err) {
                alert(err)
            }
        })

        /*
        var table = $('#example').DataTable();
        table.ajax.reload();
        */
    });
    $('#sendbtn').click(function (event) {
        progress.reset(); //обнуление прогрессбара
        $.ajax({
            url: '/node/rostelecom/sendfresh',
            type: 'GET',
            cache: false,
            error: function (jqXHR, textStatus, err) {
                alert(err)
            }
        });

    });
</script>
<!--
In datatables.css beginning with line:


table.dataTable td.select-checkbox"
Remove all "td"

Stop before:


div.dataTables_wrapper span.select-info,
Add the following lines (thead has dark background -> white border-color):


table.dataTable th.select-checkbox:before { border-color: white; }
table.dataTable tr.selected th.select-checkbox:after { text-shadow: none; font-weight: normal;}
Add Javascript-Funktion:

function toggleSelectedRows(el){
if($(el).parent().toggleClass("selected").hasClass("selected")){
table.rows().select();
}else{
table.rows().deselect();
}
}
HTML in thead->tr :

Plain text
1
<th onclick="toggleSelectedRows(this)"></th>

-->