body{
    margin-left: 0px;
    margin-top: 15px;
}
.mainContainer {
    /*position: relative;*/
    float: left;
    max-width: 1000px;
    min-width: 800px;
    margin:  auto;
    height:80%;
}

div.nav-main {
    float: left;
    padding-left:25px;
    padding-right:20px;
    margin-top: 0px;
    width: 205px;
    font: 100% "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
div.footer{
    clear:both;
    height:10%;
}