.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #428bca;
}

.nav-pills>li>a {
    border-radius: 0px;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.nav-stacked>li+li {
    margin-top: 0px;
    margin-left: 0;
    border-bottom:1px solid #dadada;
    border-left:1px solid #dadada;
    border-right:1px solid #dadada;
}

.active2 {
    border-right:4px solid #428bca;
}