<style>
body{
     margin-left: 0px;
     margin-top: 15px;
    }
.mainContainer {
    /*position: relative;*/
    float: left;
    max-width: 1140px;
    min-width: 800px;
    margin:  auto;
    height:80%;
}

.header{
    height: 40px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 0em 0em 0em 1em;
    line-height: 40px;
    vertical-align: middle;
}

div.footer{
    clear:both;
    height:10%;
}
div.table{
    margin-top: 1em;
}
button.counterButton {
    margin-top: 0em;
    width: 100%;
    font: 85% "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.nav-main .nav3{
    margin-top:15px; border:1px solid #dadada; padding: 10px 15px;
}
.cntinput{
    text-align:right;
    width:90%;
}
.invalid { border: 1px solid red }

</style>
<style>
    .ui-progressbar {
        position: relative;
    }
    .progress-label {
        position: absolute;
        left: 50%;
        top: 4px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
    }
</style>
<link href="/node/stylesheets/nav-pills-stacked.css" rel="stylesheet"><!--стили меню-->
<link href="/node/stylesheets/counters-common-style.css" rel="stylesheet"><!--общие стили страниц-->
<div class="nav-main">
    <ul class="nav nav-pills nav-stacked">
        <li class="active" ><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <li onclick="downloadProgress(false)"><a href="#"><span class="glyphicon glyphicon-calendar"></span>&nbsp;Скачать показания</a></li>
       <!-- <li onclick="downloadProgress(true)"><a href="#"><span class="glyphicon glyphicon-user"></span> Скачать показания</a></li>-->
        <li onclick="location.href='/node/modelreload'"><a href="#"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Таблицы</a></li>
        <li onclick="location.href='/node/admin/useradd'"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Добавить пользователя</a></li>
    </ul>
    <br>
    <ul class="nav nav-pills nav-stacked">
        <li class="active" ><a href="#">Разное</a></li>
        <li onclick="location.href='/node/rostelecom'"><a href="#"><span class="glyphicon glyphicon-send"></span>&nbsp;Ростелеком</a></li>
        <li onclick="location.href='/node/admin/dbfimport'"><a href="#"><span class="glyphicon glyphicon-import"></span>&nbsp;Импорт *.dbf</a></li>
    </ul>
    <div class = "nav3" >
        <span style = " color: #337ab7;"><input id = "isclosed" onclick="isPeriodClosed(this)" type="checkbox" value="" {{#isClosedNow}}checked{{/isClosedNow}}>&nbsp; Период закрыт</span>
    </div>
</div>
<div class="mainContainer">
    <div class="header">
        <span style = "font-size:100%; ">Администратор</span>&nbsp;
    </div>
    <div id="progressbar" style="display:none;"><div class="progress-label">Loading...</div></div>
    <!-- Highlight / Error -->
    <div id="message" class="message" style="display:none;">
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <strong>Сообщение! </strong> <span id="messagetxt">Sample ui-state-highlight style.</span></p>
        </div>
    </div>

    <div id="alert" class="ui-state-error ui-corner-all" style="padding: 0 .7em;display:none;">
        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <strong>Ошибка: </strong><span id="alerttxt"> Sample ui-state-error style.</span></p>
    </div>
    <div class ="table">
            <!-- Table https://datatables.net -->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Логин</th>
                    <th>Электронная почта</th>
                    <th>Счетчики</th>
                    <th>ot_musz</th>
                </tr>
                </thead>
            </table>
    </div>
</div>
<div class="footer">
</div>
<script src='/node/socket.io/socket.io.js'></script>
<script>
// Initialise Table
$(document).ready(function() {
    var table = $('#example').DataTable( {
        deferRender:    true,
        scrollY:        300,
        dom: "frtiS",
        "searching":     true,
        "ajax": '/node/admin/usertable',
        "language": {
            "url": "/node/external/DataTables-1.10.11/language/dataTables.Russian.txt"
        },
        "columns": [
            { "data": "name" },
            { "data": "username" },
            { "data": "email" },
            { "data": "ot_musz" },
            { "data": "ot_musz" }

         ],
        "columnDefs": [
            { "targets": 1,
                "data": "username",
                "render": function ( data, type, row ) {
                    return '<a href ="/node/admin/useredit?username='+data+'">'+data+'</a>';
                }
            },
            { "targets": 3,
                "data": "ot_musz",
                "render": function ( data, type, row ) {
                    return '<a href ="/node/admin/usercounter?ot_musz='+data+'">Счетчик</a>';
                }
            }
        ]

     } );
    socket = io.connect(location.protocol+'//'+location.host,{ path: '/node/socket.io' });
    socket.on('progressinc', function (data) {
        progress(progressbar, data);
    });
    socket.on('file', function (data) {
        document.location.href = '/node/admin/getfile?filename='+data.filename
        setTimeout(
                function() { $( "#progressbar" ).fadeOut("slow"); },
                400
        );
    });
    socket.on('closePeriod', function (data) { //сообщение для изменения чекбокса периода
        $('#isclosed').prop('checked', data.isClosedNow);
    });

    var progressbar = $( "#progressbar" ),
        progressLabel = $( ".progress-label" );
    progressLabel.text('Старт...');
    progressbar.progressbar({
        value: false,
        complete: function() {
            progressLabel.text( "Закончено!" );
        }
    });

});

$(function() {
        $( "button" )
                .button()
                .click(function( event ) {
                    event.preventDefault();
                });
        });

//добавление новых пользователей из ot_musz
function userAddFromOt_musz(){

};

function downloadProgress(ipu){

    //var socket = io.connect(location.protocol+'//'+location.host,{ resource: '/node/socket.io' });
    var progressbar = $( "#progressbar" )
    progressbar.progressbar( "value" , false);
    $( ".progress-label" ).text('Старт...');
    $("#progressbar").fadeIn("fast");
    socket.emit('getCounters', {ipu: ipu});

};
function progress(progressbar,data) {
    var val = progressbar.progressbar( "value" ) || 0;
    progressbar.progressbar( "value", val + parseInt(data.progressinc) );
    $( ".progress-label" ).text( data.message+' '+progressbar.progressbar( "value" ) + "%" );
};
function isPeriodClosed(element){
    socket.emit('isClosedNow',{isClosedNow:element.checked}); //сообщение о нажитии чекбокса
    //element.checked = !element.checked
};
</script>

