<style>
    .printpage{
        height:100%;
        width:900px;
        margin:auto;
        clear: both;
    }
    @media print
    {
        table { page-break-after:auto }
        tr    { page-break-inside:avoid; page-break-after:auto }
        td    { page-break-inside:avoid; page-break-after:auto }
        thead { display:table-header-group }
        tfoot { display:table-footer-group }

    }

    table {
        border-collapse: collapse;
    }
    table tr td {
        padding : 5px;
    }
    table tr, td, tfoot tr th {
        border: 1px solid black;
    }
    #pred, #tek, #predn, #tekn{
        text-align: right;
    }
</style>

<div class="printpage" >

    <div>
        <table >
            <thead>
            <tr>
                <th colspan = 8>
                    <h3>Показания индивидуальных счетчиков <span id={{counter_type}}></span> за {{month}} {{year}} года.</h3>
                </th>
            <tr>
            <tr>
                <th>Лицевой <br> счет</th>
                <th style="width: 250px">Адрес</th>
                <th>Квар<br>тира</th>
                <th>Ком<br>ната</th>
                <th id="pred_th" >Предыдущие <br> ИПУ 1</th>
                <th id="tek_th" >Текущие <br> ИПУ 1</th>
                <th id="predn_th" >Предыдущие <br> ИПУ 2</th>
                <th id="tekn_th" >Текущие <br> ИПУ 2</th>
            </tr>
            </thead>
            <tbody>
            {{#data}}
                <tr>
                    <td>{{ln}}</td>
                    <td>{{exp_2}}</td>
                    <td>{{nkw1}}</td>
                    <td>{{nkw2}}</td>
                    <td id = "pred">{{pred}}</td>
                    <td id = "tek" >{{tek}}</td>
                    <td id = "predn">{{predn}}</td>
                    <td id = "tekn">{{tekn}}</td>
                </tr>
            {{/data}}
            </tbody>

            <tfoot>
            <tr>
                <th style="text-align:left"> Итого: </th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align:right">{{sumPred}}</th>
                <th style="text-align:right">{{sumTek}}</th>
                <th style="text-align:right">{{sumPredN}}</th>
                <th style="text-align:right">{{sumTekN}}</th>
            </tr>
            </tfoot>

        </table>
    </div>
    <!--
    <div>
        <table>
            <thead>
            <tr>
                <th colspan = 5>
                    <h3> Общедомовые приборы учета. </h3>
                </th>
            <tr>
            <tr>
                <th style="width: 250px">Адрес</th>
                <th id="pred_th" >Предыдущий <br> день</th>
                <th id="tek_th" >Текущий <br> день</th>
                <th id="predn_th" >Предыдущий <br> ночь</th>
                <th id="tekn_th" >Текущий <br> ночь</th>
            </tr>
            </thead>
            <tbody>
            {{#data1}}
                <tr>
                    <td>{{exp_2}}</td>
                    <td id = "pred">{{pred}}</td>
                    <td id = "tek" >{{tek}}</td>
                    <td id = "predn">{{predn}}</td>
                    <td id = "tekn">{{tekn}}</td>
                </tr>
            {{/data1}}
            </tbody>
        </table>

    </div>
    -->
</div>
<script >
    $('#ener').html('электроэнергии');
    $('#hvod').html('холодной воды ');
    $('#gvod').html('горячей воды ');
    $('#otop').html('отопления ');
</script>

