<style>
body{
     margin-left: 0px;
     margin-top: 15px;
    }
.mainContainer {
    /*position: relative;*/
    float: left;
    max-width: 1140px;
    min-width: 800px;
    margin:  auto;
    height:80%;
}

.header{
    height: 40px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 0em 0em 0em 1em;
    line-height: 40px;
    vertical-align: middle;
}

div.footer{
    clear:both;
    height:10%;
}
div.table{
    margin-top: 1em;
}
button.counterButton{
    margin-top: 0em;
    width:100%;
    font: 110% "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.cntinput{
    text-align:right;
    width:90%;
}
.invalid { border: 1px solid red }
.warning { border: 1px solid yellow}

table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 12px 6px 10px;
    font-weight:normal;
}
.message_container {height:20px;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
tr.group td.ipu {
    text-align: center;
}
</style>
<link href="/node/stylesheets/nav-pills-stacked.css" rel="stylesheet"><!--стили меню-->
<link href="/node/stylesheets/counters-common-style.css" rel="stylesheet"><!--общие стили страниц-->
<div class="nav-main">

    <ul class="nav nav-pills nav-stacked">
        <!--<li class="active"  <li id="hvodbtn"><a href="#" class="active2"-->
        <li class="active" onclick="location.href='/node/counter'"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <li id="enerbtn"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Электроэнергия</a></li>
        <li id="gvodbtn"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Горячая вода</a></li>
        <li id="hvodbtn"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Холодная вода</a></li>
        <li id="common" class ="active2" onclick="location.href='/node/countcommon'"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Общедомовые</a></li>
        <li onclick="window.open('/node/counters/counter/printable?counter_type='+$('#counterType').val(), '_blank')"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Печатная версия</a></li>
        <li id="common" onclick="window.open('/node/filebrow/index.html', '_blank')"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Отчеты</a></li>
    </ul>

</div><!-- nav-main -->
<div class="mainContainer">
    <div class="header">

        <span style = "font-size:100%; ">{{ot_muz_name}}</span>&nbsp;
        <span id = "counterTypeTxt" style="font-size:100%; ">Индивидуальные счетчики электроэнергии за {{month}} {{year}} года.</span>&nbsp;
        <span id = "counterTypeTxt" style="font-size:100%; ">Заполнение возможно до {{closedate}} {{monthrp}} включительно</span>
        <input id = "counterType" type = "hidden" value = "ener" >
    </div>

    <!-- Highlight / Error -->
    <div class ="message_container">
        <div id="message" class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;display:none;">
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <strong>Сообщение! </strong> <span id="messagetxt">Sample ui-state-highlight style.</span></p>
        </div>
        <div id="alert" class="ui-state-error ui-corner-all" style="padding: 0 .7em;display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Ошибка: </strong><span id="alerttxt"> Sample ui-state-error style.</span></p>
        </div>
    </div>
    <div class ="table">
            <!-- Table https://datatables.net -->
            <table id="example" class="display" cellspacing="0" width="100%">
               <thead>
               <tr>
                   <th></th>
                   <th style="width: 150px"></th>
                   <th></th>
                   <th></th>
                   <th style="text-align: center " colspan ="2" >ИПУ 1</th>
                   <th style="text-align: center " colspan ="2" >ИПУ 2</th>
               </tr>
               <tr>
                    <th>Лицевой счет</th>
                    <th style="width: 150px">Адрес</th>
                    <th>Квар<br>тира</th>
                    <th>Ком<br>ната</th>
                    <th id="pred_th" >Предыдущие <br> день</th>
                    <th id="tek_th" >Текущие <br> день</th>
                    <th id="predn_th" >Предыдущие <br> ночь</th>
                    <th id="tekn_th" >Текущие <br> ночь</th>
                </tr>
               </thead>

                <tfoot>

                <tr>
                    <th colspan="2" style="text-align:left"> Не заполнено счетчиков: </th>
                    <th></th>
                    <th></th>
                    <th style="text-align:right"></th>
                    <th style="text-align:right"></th>
                    <th style="text-align:right"></th>
                    <th style="text-align:right"></th>
                </tr>
                <tr>
                    <th  style="text-align:left"> Объем к оплате по дому: </th>
                    <th id="home" colspan="3"></th>
                    <th id = "homeIpu1" colspan="2" style="text-align:right"></th>
                    <th id = "homeIpu2" colspan="2" style="text-align:right"></th>
                </tr>
                </tfoot>

            </table>
    </div>


</div>
<div class="footer">

</div>

<script src="/node/javascript/counter/counter.js"></script>
<script src="/node/javascript/counter/message.js"></script>
<script>

var periodisclosed = false;
{{#periodisclosed}}
var periodisclosed = true;
$("#message").fadeIn("slow");
$("#messagetxt").text("Период закрыт");
{{/periodisclosed}}

var groupTotal = []; //объемы по домам

$(document).ready(function() {
// Initialise Table
    var inputString =' class="cntinput" onblur="sendVal(this)"  value="';
    var table = $('#example').DataTable({
        deferRender: true,
        scrollY: 300,
        dom: "frtiS",
        "searching": true,
        "ajax": '/node/counters?counter_type=ener',
        "language": {
            "url": "/node/external/DataTables-1.10.11/language/dataTables.Russian.txt"
        },
        "columns": [
            {
                "data": "ln",
                "className": "dt-body-right"
            },
            {"data": "exp_2"},
            {
                "data": "nkw1",
                "className": "dt-body-right"
            },
            {
                "data": "nkw2",
                "className": "dt-body-right"
            },
            {
                "data": "pred",
                "className": "dt-body-right"
            },
            {
                "data": "tek",
                "className": "dt-body-right"
            }
        ],
        "order": [[ 1, "asc" ],[ 2, "asc" ]],
        "columnDefs": [
            {
                "targets": 4,
                "data": "pred",
                "render": function (data, type, row) {
                    if (periodisclosed) {
                        return data;
                    } else {
                        return '<input type="text"  id = p1' + row.ln + inputString + data + '">'
                    }
                    ;
                }
            },
            {
                "targets": 5,
                "data": "tek",
                "render": function (data, type, row) {
                    if (periodisclosed) {
                        return data;
                    } else {
                        return '<input type="text"  id = t1' + row.ln + inputString + data + '">'
                    }
                    ;
                }
            },
            {
                "targets": 6,
                "data": "predn",
                "className": "dt-body-right",
                "render": function (data, type, row) {
                    if (periodisclosed) {
                        return data;
                    } else {
                        return '<input type="text" id = p2' + row.ln + inputString + data + '">'
                    }
                    ;
                }
            },
            {
                "targets": 7,
                "data": "tekn",
                "className": "dt-body-right",
                "render": function (data, type, row) {
                    if (periodisclosed) {
                        return data;
                    } else {
                        return '<input type="text" id = t2' + row.ln + inputString + data + '">'
                    }
                    ;
                }
            },
            { "targets": 8,"data": "knom","visible": false }]

        , "footerCallback": function () {
            var api = this.api();
            zeroTekCnt(api);
            zeroTeknCnt(api);
            groupTotal = homeCalc(this.api()); //вычисляем индексы групп по дому
            $('th#homeIpu1').html('');//обнуляем итоги по дому
            $('th#homeIpu2').html('');
            $('th#home').html('');
        },

        "initComplete": function(settings, json) {
            //groupTotal = homeCalc(this.api()); //вычисляем индексы групп по дому
        }

    });

    //движение клавишами "стрелка" между полями ввода в таблице
    $('#example tbody').on('keydown', 'input', function (e) {

        if (e.which == 39 && ( doGetCaretPosition(this) == this.value.length)) {
            $(this).closest('td').next().find('input').focus();

        }
        else if (e.which == 37 && doGetCaretPosition(this) == 0) {
            $(this).closest('td').prev().find('input').focus();

        }
        else if (e.which == 40){
            $(this).closest('tr').next().find('td:eq(' + $(this).closest('td').index() + ')').find('input').focus();

        }
        else if (e.which == 38){
            $(this).closest('tr').prev().find('td:eq(' + $(this).closest('td').index() + ')').find('input').focus();

        }
    });
    $('#example tbody').on('focus', 'input', function (e) {
        if (parseFloat($(this).val())==0){
            $(this).val('');
        }
    });
    $('#example tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        $('th#home').html(data.exp_2);
        //var groupT = homeCalc1(table,groupTotal[data.knom]);
        var groupT = groupTotal[data.knom];
        $('th#homeIpu1').html(groupT.total1);
        $('th#homeIpu2').html(groupT.total2);
    });

} );


function tableTotals(){
    var api = $( '#example' ).dataTable().api();
        zeroTekCnt(api);
        zeroTeknCnt(api);
};

$(function() {
        $( "button" )
                .button()
                .click(function( event ) {
                    event.preventDefault();
                });
});

$('#enerbtn').click(function( event ) {
    $('#counterTypeTxt').text('Индивидуальные счетчики электроэнергии за {{month}} {{year}} года');
    $('#pred_th').html('Предыдущие <br> день');
    $('#tek_th').html('Текущие <br> день');
    $('#predn_th').html('Предыдущие <br> ночь');
    $('#tekn_th').html('Текущие <br> ночь');
    $('#counterType').val("ener");
    var table = $('#example').DataTable();
    table.column(6).visible(true);
    table.column(7).visible(true);
    table.ajax.url( '/node/counters?counter_type=ener').load();

});
$('#gvodbtn').click(function( event ) {
    $('#counterTypeTxt').html('Индивидуальные счетчики горячей воды за {{month}} {{year}} года');
    $('#pred_th').html('Предыдущие');
    $('#tek_th').html('Текущие');
    $('#predn_th').html('Предыдущие');
    $('#tekn_th').html('Текущие');
    $('#counterType').val("gvod");
    var table = $('#example').DataTable();
    table.column(6).visible(true);
    table.column(7).visible(true);
    table.ajax.url( '/node/counters?counter_type=gvod').load();

});
$('#hvodbtn').click(function( event ) {
    $('#counterTypeTxt').html('Индивидуальные счетчики холодной воды за {{month}} {{year}} года');
    $('#pred_th').html('Предыдущие');
    $('#tek_th').html('Текущие');
    $('#predn_th').html('Предыдущие');
    $('#tekn_th').html('Текущие');
    $('#counterType').val("hvod");
    var table = $('#example').DataTable();
    table.column(6).visible(true);
    table.column(7).visible(true);
    table.ajax.url( '/node/counters?counter_type=hvod').load();

});

$('#otopbtn').click(function( event ) {
    $('#counterTypeTxt').html('Индивидуальные счетчики отопления за {{month}} {{year}} года');
    $('#pred_th').html('Предыдущий');
    $('#tek_th').html('Текущий');
    $('#counterType').val("otop");
    var table = $('#example').DataTable();
    table.column(6).visible(false);
    table.column(7).visible(false);
    table.ajax.url( '/node/counters?counter_type=otop').load();

});

//отправка значений счетчиков на сервер, подготовка
function sendVal(d){

    if (parseFloat(d.value)==0||d.value.trim()===""){
        d.value = '0.0000';
    }
    if (d.defaultValue == (d.value)){return}

    var dat ={
        ln: d.id.substr(2, d.id.length),
        counter_type:$('#counterType').val(),
        attr:{}
    };
    switch (d.id.substr(0,2)) {
        case "t2" : dat.attr.tekn = d.value;
            break;
        case "p2" : dat.attr.predn = d.value;
            break;
        case "t1" : dat.attr.tek = d.value;
            break;
        case "p1" : dat.attr.pred = d.value;
            break;
    };

    saveData(d,dat);

};
function saveData(d,dat) {
    $.ajax({
        url: '/node/counters/counter/savecntr',
        type: 'GET',
        cache: false,
        data: dat,
        success: function (data){saveDataSuccess(data,d)},
        error: function (jqXHR, textStatus, err) {
            d.value = d.defaultValue;
            if (jqXHR.status == 401){
                location.reload();
                return
            };
            if (jqXHR.status == 422){
                var err = $.parseJSON(jqXHR.responseText)[0];
                if (err.type == "Validation error") {
                    errorfun(jqXHR) //public/javascript/counter
                };
                return;
            }
            errinput(d, "Ошибка сервера. Данные не сохранены");
            location.reload();
        }
    });
};
function saveDataSuccess(data,d){ //если запись счетчика в базу удачна
    d.value = parseFloat(d.value).toFixed(4);
    d.defaultValue = d.value;
    //запись значения из поля input в DataTable."
    var table = $('#example').DataTable();
    var cell = table.cell(d.parentNode);
    cell.data(d.value);//.draw();
    tableTotals();//подсчет сумм по таблице
    var dat = table.row(cell.index().row).data();
    groupTotal[dat.knom] = homeCalc1(table,groupTotal[dat.knom]);//пересчитываем итоги по дому
    $('th#homeIpu1').html(groupTotal[dat.knom].total1);
    $('th#homeIpu2').html(groupTotal[dat.knom].total2);
    if ((typeof data[0] === 'object') && (data[0].message !== undefined)) { //показываем предупреждения
        warninput(d, data[0].message);
    } else{
        myMsg("Сохранено успешно")
    }
}
</script>
