<style>
body{
     margin-left: 0px;
     margin-top: 15px;
    }
.mainContainer {
    /*position: relative;*/
    float: left;
    max-width: 1140px;
    min-width: 800px;
    margin:  auto;
    height:80%;
}

.header{
    height: 40px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 0em 0em 0em 1em;
    line-height: 40px;
    vertical-align: middle;
}

div.footer{
    clear:both;
    height:10%;
}
div.table{
    margin-top: 1em;
}

button.counterButton{
    margin-top: 0em;
    width:100%;
    font: 110% "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.cntinput{
    text-align:right;
    width:90%;
}
.invalid { border: 1px solid red }
em { color: red; }

.tdetail{
    padding-left:50px;margin:0px;font-size:100%;
}
td.details-control {
    background: url('/node/external/DataTables-1.10.4/media/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td .details-control {
    background: url('/node/external/DataTables-1.10.4/media/images/details_close.png') no-repeat center center;
}

 label {
     display: inline-block;
     width: 5em;
 }

</style>
<link href="/node/stylesheets/nav-pills-stacked.css" rel="stylesheet"><!--стили меню-->
<link href="/node/stylesheets/counters-common-style.css" rel="stylesheet"><!--общие стили страниц-->
<div class="nav-main">
    <ul class="nav nav-pills nav-stacked">
        <!--<li class="active"  <li id="hvodbtn"><a href="#" class="active2"-->
        <li class="active" onclick="location.href='/node/counter'"><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
        <li id="enerbtn"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Электроэнергия</a></li>
        <li id="gvodbtn"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Горячая вода</a></li>
        <li id="hvodbtn"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Холодная вода</a></li>
        <li id="otbtn"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Отопление</a></li>
        <li class="active2" id="individ" onclick="location.href='/node/counter'"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Индиви-<br>дуальные</a></li>
    </ul>
</div>
<div class="mainContainer">
    <div class="header">
        <span style = "font-size:100%; ">{{ot_muz_name}}</span>&nbsp;
        <span id = "counterTypeTxt" style="font-size:100%; ">Общедомовые счетчики электроэнергии за {{month}} {{year}} года.</span>&nbsp;
        <span id = "closeDateTxt" style="font-size:100%; ">
            {{#if periodisclosed}}
                Период закрыт.
            {{else}}
                Заполнение возможно до {{closedate}} {{monthrp}}.
            {{/if}}
        </span>
        <input id = "counterType" type = "hidden" value = "en" >

    </div>
    <!-- Highlight / Error -->
    <div id="message" class="message" style="display:none;">
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <strong>Сообщение! </strong><span id="messagetxt">Sample ui-state-highlight style.</span></p>
        </div>
    </div>
    <div id="alert" class="ui-state-error ui-corner-all" style="padding: 0 .7em;display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Ошибка: </strong><span id="alerttxt"> Sample ui-state-error style.</span></p>
    </div>
    <div class ="table">
            <!-- Table https://datatables.net -->
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th style="width: 250px">Адрес</th>
                    <th id="pred_th" >Предыдущий <br> день</th>
                    <th id="tek_th" >Текущий <br> день</th>
                    <th id="predn_th" >Предыдущий <br> ночь</th>
                    <th id="tekn_th" >Текущий <br> ночь</th>

                </tr>
                </thead>
            </table>
    </div>
</div>
<div class="footer">
</div>
<script>
var periodisclosed = false;
{{#periodisclosed}}
var periodisclosed = true;
$("#message").fadeIn("slow");
$("#messagetxt").text("Период закрыт");
{{/periodisclosed}}
// Initialise Table

    var table = $('#example').DataTable( {
        deferRender:    true,
        scrollY:        300,
        dom: "frtiS",
        "searching":     false,
        "ajax": '/node/countcommons?counter_type=en',
        "language": {
            "url": "/node/external/DataTables-1.10.11/language/dataTables.Russian.txt"
        },
        "columns": [
            {
                "className":      'details-control',
                "orderable":      false,
                "data":           null,
                "defaultContent": ''
            },
            { "data": "exp_2" },
            { "data": "pred",
                "className":"dt-body-right" },
            { "data": "tek",
                "className":"dt-body-right" },
            { "data": "predn",
                "className":"dt-body-right" },
            { "data": "tekn",
                "className":"dt-body-right" }
            /*
            { "data": "odn",
               "className":"dt-body-right"},
            { "data": "koeff",
               "className":"dt-body-right"
            },
            { "data": "nordom",
                "className":"dt-head-left dt-body-right smallfont"
            }
            */
         ],
        "columnDefs": [
            { "targets": 0,
            'fnCreatedCell': function(nTd, sData, oData, iRow, iCol) {
            nTd.title = 'Нажмите здесь';
            }
            },
            { "targets": 2,
              "data": "pred",
              "render": function ( data, type, row ) {
                  if(periodisclosed) {
                      return data;
                  }else {
                      return '<input type="text" id = p1' + row.knom + ' class="cntinput" onblur="sendVal(this)" value="' + data + '">';
                  }
                }
            },
            { "targets": 3,
              "data": "tek",
              "render": function (data, type, row) {
                  if(periodisclosed) {
                      return data;
                  }else {
                      return '<input type="text" id = t1' + row.knom + ' class="cntinput" onblur="sendVal(this)" value="' + data + '">';
                  }
                }
            },
            { "targets": 4,
              "data": "predn",
              "render": function ( data, type, row ) {
                  if(periodisclosed) {
                      return data;
                  }else {
                      return '<input type="text" id = p2' + row.knom + ' class="cntinput" onblur="sendVal(this)" value="' + data + '">';
                  }
                }
            },
            { "targets": 5,
              "data": "tekn",
              "render": function ( data, type, row ) {
                  if(periodisclosed) {
                      return data;
                  }else {
                      return '<input type="text" id = t2' + row.knom + ' class="cntinput" onblur="sendVal(this)" value="' + data + '">';
                  }
                }
            }/*,{ "targets": 7,
                "data": "koeff",
                "render": function ( data, type, row ) {
                    if(data>2) {                        //коэффициент красным шрифтом - если он больше 2
                        return '<em>' + data + '</em>';
                    }else {
                        return  data;
                    }
                }
            }*/]
     } );
$(document).ready(function() {
// Add event listener for opening and closing details
    $('#example tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );


    table.$('td').tooltip();
} ); //end of document ready

/* Formatting function for table row details  */
function format ( d ) {
    // `d` is the original data object for the row
    return '<table class = "tdetail" cellpadding="5" cellspacing="0" border="0" >'+
            '<tr>'+
            '<td>Сумма по ИПУ:</td>'+
            '<td class = "dt-body-right">'+d.odn+'</td>'+
            '</tr>'+
            '<tr>'+
            '<td>По нормативу за предыдущий месяц:</td>'+
            '<td class = "dt-body-right">'+d.nordom+'</td>'+
            '</tr>'+
            '<tr>'+
            '<td>Коэффициент:</td>'+
            '<td class = "dt-body-right">'+d.koeff+'</td>'+
            '</tr>'+
            '</table>';
}
$(function() {
        $( "button" )
                .button()
                .click(function( event ) {
                    event.preventDefault();
                });
        });
$('#enerbtn').click(function( event ) {
    $('#counterTypeTxt').text('Общедомовые счетчики электроэнергии за {{month}} {{year}} года');
    $('#pred_th').html('Предыдущий <br> день');
    $('#tek_th').html('Текущий <br> день');
    $('#predn_th').show();
    $('#tekn_th').show();
    $('#counterType').val("en");
    var table = $('#example').DataTable();
    table.column(0).visible(true);
    table.column(4).visible(true);
    table.column(5).visible(true);
    table.ajax.url( '/node/countcommons?counter_type=en').load();
});
$('#gvodbtn').click(function( event ) {
    $('#counterTypeTxt').html('Общедомовые счетчики горячей воды за {{month}} {{year}} года');
    $('#pred_th').html('Предыдущий');
    $('#tek_th').html('Текущий');
    $('#counterType').val("gv");
    var table = $('#example').DataTable();
    table.column(0).visible(true);
    table.column(4).visible(false);
    table.column(5).visible(false);
    table.ajax.url( '/node/countcommons?counter_type=gv').load();
});
$('#hvodbtn').click(function( event ) {
    $('#counterTypeTxt').html('Общедомовые счетчики холодной воды за {{month}} {{year}} года');
    $('#pred_th').html('Предыдущий');
    $('#tek_th').html('Текущий');
    $('#counterType').val("hv");
    var table = $('#example').DataTable();
    table.column(0).visible(true);
    table.column(4).visible(false);
    table.column(5).visible(false);
    table.ajax.url( '/node/countcommons?counter_type=hv').load();
});


$('#otbtn').click(function( event ) {
    $('#counterTypeTxt').html('Общедомовые счетчики отопления {{month}} {{year}} года');
    $('#pred_th').html('Предыдущий');
    $('#tek_th').html('Текущий');
    $('#counterType').val("ot");
    var table = $('#example').DataTable();
    table.column(0).visible(false);
    table.column(4).visible(false);
    table.column(5).visible(false);
    table.ajax.url( '/node/countcommons?counter_type=ot').load();
});
//отправка значений счетчиков на сервер
function sendVal(d){
    if (d.defaultValue == d.value){return}
    var iid = d.id.substr(0,2);
    var knom = d.id.substr(2,d.id.length);
    var message = "показания текущего счетчика должно быть больше предидущего";

    switch (iid ){
        case "t2" :
            var pred =$('#p2'+knom).val();
            if (parseFloat(d.value) < parseFloat(pred)){
                errinput(d,message);
                return
            }
            break;
        case "p2" :
            var tek =$('#t2'+knom).val();
            if (parseFloat(d.value) > parseFloat(tek)){
                errinput(d,message);
                return
            }
            break
        case "t1" :
            var pred =$('#p1'+knom).val();
            if (parseFloat(d.value) < parseFloat(pred)){
                errinput(d,message);
                return
            }
        break;
        case "p1" :
            var tek =$('#t1'+knom).val();
            if (parseFloat(d.value) > parseFloat(tek)){
                errinput(d,message);
                return
            }
        break;
    }
    //if (d.defaultValue !== d.value){
        sendtoserver(d);
        var table = $('#example').DataTable();
        table.ajax.reload();
    //}
};
//отправка содержимого поля на сервер
function sendtoserver(d){

    $.ajax({
        url: '/node/savecommoncntr',
        type: 'GET',
        cache: false,
        data: { id: d.id,
                value: d.value,
                counterType: $('#counterType').val()},
        success: function(data){
            //alert('Success!');
            d.value = parseFloat(d.value).toFixed(4);
            d.defaultValue = d.value;
            myMsg("Сохранено успешно")
        }
        ,error: function(jqXHR, textStatus, err){
            errinput(d,"Ошибка сервера. Данные не сохранены");
            d.value = d.defaultValue;
        }
    })
};

//подсветка поля с ошибкой и вывод alert
function errinput(elem,text) {
    var jElement = $(elem);
    jElement.addClass('invalid');
    setTimeout(
            function() { jElement.removeClass('invalid'); elem.value = elem.defaultValue;},
            5000

    );
    $("#alert").fadeIn("slow");
    $("#alerttxt").text(text);
    setTimeout(
            function() { $("#alert").fadeOut("slow"); },
            4000
    );
};
function messageshow(text){
    $("#message").fadeIn("slow");
    $("#messagetxt").text(text);
    setTimeout(
            function() { $("#message").fadeOut("slow"); },
            4000
    );
}
</script>
