<style>
    .myProgress {
        height: 34px;
    }
    /*
        .tablesTable {
            margin-bottom: 20px
        }

        .tablesTable td {
            height: 34px;
            text-align: center;
            padding: 5px;
        }
        */

    .tablesTable{
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .green{
        background-color: rgb(223, 240, 216);
    }
    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;

        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    .btn-upload input[type=submit] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

</style>
<link href="/node/stylesheets/counters-common-style.css" rel="stylesheet"><!--общие стили страниц vn_iac-->
<link href="/node/stylesheets/nav-pills-stacked.css" rel="stylesheet"><!--стили меню слева-->
<div class="nav-main">

    <ul class="nav nav-pills nav-stacked">
        <!--<li class="active"  <li id="hvodbtn"><a href="#" class="active2"-->
        <li class="active" onclick="location.href='/node/admin'"><a href="#"><span
                class="glyphicon glyphicon-home"></span> Администратор</a></li>
        <li id="startbtn"><a href="#"><span class="glyphicon glyphicon-send"></span>&nbsp;Старт</a></li>
        <!--<li id="jmak"><a href="#"><span class="glyphicon glyphicon-send"></span>&nbsp;Жмак</a></li>-->
    </ul>

</div><!-- nav-main -->
<div class="mainContainer">
    <div class="progress myProgress">
        <div id="progressbar" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
             aria-valuemax="100" style="width: 0%;">
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Перечень файлов, необходимых для отправки на сайт из каталога s:/gilcom/dbf</div>
        <div class="panel-body">
            {{#each tables}}
            <div class = 'tablesTable panel panel-default' id="{{this.fileName}}" style = "float:left;">
                <div class="panel-body">
                {{this.fileName}}
                </div>
            </div>
            {{/each}}
            <div style="clear:both; margin-bottom: 10px;"></div>

            <!--
            <table class='table-bordered tablesTable'>
                <tbody>
                <tr>
                    {{#each tables}}
                        <td class='success' id="{{this.fileName}}">{{this.fileName}}</td>
                    {{/each}}
                </tr>
                </tbody>
            </table>
            -->
            <div class="fileWrap">
                <form id="myForm" enctype="multipart/form-data" method="POST">
                    <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Файл для отправки на сайт<input type="file" name="filefield" accept=".dbf" multiple>
                    </span>
                    <span class="btn btn-default btn-upload" id="upload" style="display:none;">
                    Загрузить
                        <input type="submit">
                    </span>
                </span>
                        <input type="text" id="filename" class="form-control" readonly="">
                    </div>
                </form>
            </div>

            <!--panel body-->
        </div>
        <!-- panel panel-default-->

    </div>
    <div class="panel panel-default">
        <div class="panel-body">
        <p>Для отправки нажмите "файл для отправки", в каталоге найдите и нажмите "open", когда он появится после закладки "загрузить",
        нажмите "загрузить". "Загрузите" так же все файлы из списка. (Зеленым выделены загруженные, готовые к импорту)</p>
        <p>Затем нажмите "Старт". Отправка длится 30-40 мин.</p>
        </div>
    </div>

</div>
<script src='/node/socket.io/socket.io.js'></script>
<script src="/node/javascript/common.js"></script>
<script>
    $(document).ready(function(){
        $.ajax({url: '/node/admin/dbfimport/cleandir',
                type: 'GET',
                cache: false});
    });
    var progress = makeProgress("#progressbar");
    $(document).on('change', '.btn-file :file', function () {
        var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1;
        var label = '';
        var fileAr = input.get(0).files;
        for (key in fileAr) {
            if (fileAr.hasOwnProperty(key)) {
                label = fileAr[key].name.replace(/\\/g, '/').replace(/.*\//, '') + ' ; ' + label;
            }
        };

        $("#filename").val(label);
        $("#upload").show();
    });
    $(document).on('click', '.btn-file :file', function () {
        progress.reset() //обнуление прогрессбара
    });
    socket = io.connect(location.protocol + '//' + location.host, {path: '/node/socket.io'});
    socket.on('progressinc', function (data) {
        progress.getnext(data);
        if (data.tablesNeed){paintTables(data.tablesNeed)};
    });
    socket.on('progressreset', function (data) {
        progress.reset();
    });
    $('#startbtn').click(function (event) {
        progress.reset(); //обнуление прогрессбара
        $.ajax({
            url: '/node/admin/dbfimport/convert',
            type: 'GET',
            cache: false,
            error: function (jqXHR, textStatus, err) {
                alert(err)
            }
        });
    });
    $('#myForm').ajaxForm({
        beforeSubmit: function (arr, $form, options) {
            // form data array is an array of objects with name and value properties
            // return false to cancel submit
            progress.reset() //обнуление прогрессбара
        },
        url: '/node/admin/dbfimport/upload',
        dataType: 'json',
        success: function (response) {
            alert("The server says: " + response);
        }
    });
function paintTables(tablesNeed){
    //tablesNeed.forEach(function(el){$('#'+el)})

$('.tablesTable').toArray().forEach(function(el){
    if (tablesNeed.indexOf($(el).attr('id')) < 0) {
        $(el).addClass('green')
    }else{$(el).removeClass('green')}
    ; })

};
</script>