<style>
body{
     margin-left: 0px;
     margin-top: 15px;
    }
.mainContainer {
    /*position: relative;*/
    float: left;
    max-width: 1140px;
    min-width: 800px;
    margin:  auto;
    height:80%;
}

div.nav-main {
    float: left;
    padding:5px;
    margin-top: 3em;
    width: 130px;
    font: 130% "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.header{
    height: 40px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 0em 0em 0em 1em;
    line-height: 40px;
    vertical-align: middle;
}

div.footer{
    clear:both;
    height:10%;
}
div.table{
    margin-top: 1em;
}
div.cnt{
    width:200px;
    float:left;
}
button.counterButton{
    margin-top: 0em;
    width:100%;
    font: 110% "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.cntinput{
    text-align:right;
    width:90%;
}
.invalid { border: 1px solid red }
</style>
<div class="nav-main">
    <button id="savebtn" class = "counterButton" onclick="save()">Сохранить показания</button>
</div>
<div class="mainContainer">
    <div class="header">
        <span style = "font-size:180%; ">Индивидуальные приборы учета</span>&nbsp;
        <span id = "counterTypeTxt" style="font-size:140%; ">Заполнение возможно до {{closedate}} {{monthrp}}</span>
    </div>
    <!-- Highlight / Error -->
    <div id="message" class="message" style="display:none;">
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <strong>Сообщение!</strong><span id="messagetxt"> Sample ui-state-highlight style.</span></p>
        </div>
    </div>
    <div id="alert" class="ui-state-error ui-corner-all" style="padding: 0 .7em;display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Ошибка:</strong><span id="alerttxt"> Sample ui-state-error style.</span></p>
    </div>
        <input id = "ln" type="hidden" value = "{{ln}}">
    <div id="accordion">

        <h3 class="demoHeaders">Электроэнергия</h3>
    <div>
    <div class="cnt">
        <h4 class="demoHeaders">Предыдущий день</h4>
        <span >{{ener.pred}}</span>
    </div>
    <div class="cnt">
        <h4 class="demoHeaders">Текущий день</h4>
        <input id = "ener_tek" type="text" value = "{{ener.tek}}">
    </div>
    <div class="cnt">
        <h4 class="demoHeaders">Предыдущий ночь</h4>
        <span>{{ener.predn}}</span>
    </div>

    <div class="cnt">
        <h4 class="demoHeaders">Текущий ночь</h4>
        <input id = "ener_tekn" type="text" value = "{{ener.tekn}}">
    </div>
    <div style="clear: both;"></div>
    </div>


    <h3 class="demoHeaders">Горячая вода</h3>
    <div>
    <div class="cnt" >
        <h4 class="demoHeaders">Предыдущий 1</h4>
        <span>{{gvod.pred}}</span>
    </div>
    <div class="cnt">
        <h4 class="demoHeaders">Текущий 1</h4>
        <input id = "gvod_tek" type="text" value = "{{gvod.tek}}">
    </div>
    <div class="cnt">
        <h4 class="demoHeaders">Предыдущий 2</h4>
        <span>{{gvod.predn}}</span>
    </div>
    <div class="cnt">
        <h4 class="demoHeaders">Текущий 2</h4>
        <input id = "gvod_tekn" type="text" value = "{{gvod.tekn}}">
    </div>
    <div style="clear: both;"></div>
    </div>



     <h3 class="demoHeaders">Холодная вода</h3>
    <div>
    <div class="cnt" >
        <h4 class="demoHeaders">Предыдущий 1</h4>
        <span>{{hvod.pred}}</span>
    </div>
    <div class="cnt">
        <h4 class="demoHeaders">Текущий 1</h4>
        <input id = "hvod_tek" type="text" value = "{{hvod.tek}}">
    </div>
    <div class="cnt">
        <h4 class="demoHeaders">Предыдущий 2</h4>
        <span>{{hvod.predn}}</span>
    </div>

    <div class="cnt">
        <h4 class="demoHeaders">Текущий 2</h4>
        <input id = "hvod_tekn" type="text" value = "{{hvod.tekn}}">
    </div>
    <div style="clear: both;"></div>
    </div>
    </div>

</div>
<div class="footer">
</div>

<script src="/node/javascript/counter/message.js"></script>
<script>
$(function() {
        $( "button" )
                .button()
                .click(function( event ) {
                    event.preventDefault();
                });
        });
$(function() {
    $( "#accordion" ).accordion();
});
function save(){
    var dat ={
        ln: $("#ln").val().trim(),
        ener:{
            tek:$("#ener_tek").val().trim(),
            tekn:$("#ener_tekn").val().trim()
        },
        gvod:{
            tek:$("#gvod_tek").val().trim(),
            tekn:$("#gvod_tekn").val().trim()
        },
        hvod:{
            tek:$("#hvod_tek").val().trim(),
            tekn:$("#hvod_tekn").val().trim()
        }
    };
    /*
    var active = $( "#accordion" ).accordion( "option", "active" );
    alert(active);
    $("#accordion").accordion("option", "active", 2);
    */
    send(dat);

}
function send(dat){
   $.ajax({
        url:'/node/counters/ipu/savecounter',
        data: {data:dat},
        success: function(data){
            myMsg('Счетчики сохранены');
        },
        error: function(jqXHR, textStatus, err){
            if (isEmpty(err)){errsend('Ошибка сервера! Данные не сохранены');location.reload();return}
            accordeonPlay(jqXHR);
            errorfun(jqXHR) //public/javascript/counter
        }
    })
}
//перелистываем вкладки на то место где ошибка валидации
function accordeonPlay(jqXHR){
    var err = $.parseJSON(jqXHR.responseText)[0];
    var accActivePanel = 1;
    if (err.type == "Validation error") {
        switch (err.path) {
            case 'ener_tek'||'ener_tekn':
                accActivePanel = 0;
                break;
            case 'gvod_tek'||'gvod_tekn':
                accActivePanel = 1;
                break;
            case 'hvod_tek'||'hvod_tekn':
                accActivePanel = 2;
                break;
        }

        $("#accordion").accordion("option", "active", accActivePanel);
    }
}
</script>
