<style>
body{
     margin-left: 0px;
     margin-top: 15px;
    }
.mainContainer {
    /*position: relative;*/
    float: left;
    max-width: 1140px;
    min-width: 800px;
    margin:  auto;
    height:80%;
}

.header{
    height: 40px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 0em 0em 0em 1em;
    line-height: 40px;
    vertical-align: middle;
}

div.footer{
    clear:both;
    height:10%;
}
div.table{
    margin-top: 1em;
}
button.counterButton{
    margin-top: 0em;
    width:100%;
    font: 100% "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.cntinput{
    text-align:right;
    width:90%;
}
.invalid { border: 1px solid red }
</style>
<link href="/node/stylesheets/nav-pills-stacked.css" rel="stylesheet"><!--стили меню-->
<link href="/node/stylesheets/counters-common-style.css" rel="stylesheet"><!--общие стили страниц-->
<div class="nav-main">

    <ul class="nav nav-pills nav-stacked">
        <li class="active" onclick="location.href='/node/admin/'"><a href="#"><span class="glyphicon glyphicon-home"></span>Администратор</a></li>
        <li id="savebtn" onclick="validate()"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Сохранить пользователя</a></li>
        <li onclick="sendemail(user_id)"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Послать логин и пароль</a></li>
        <li onclick="deleteUser(user_id)"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> Удалить пользователя</a></li>

    </ul>
</div>
<div class="mainContainer">
    <div class="header">
        <span style = "font-size:100%; ">Администратор / редактирование пользователя</span>&nbsp;
    </div>
    <!-- Highlight / Error -->
    <div id="message" class="message" style="display:none;">
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
            <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                <strong>Сообщение!</strong><span id="messagetxt"> Sample ui-state-highlight style.</span></p>
        </div>
    </div>
    <div id="alert" class="ui-state-error ui-corner-all" style="padding: 0 .7em;display:none;">
            <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                <strong>Ошибка:</strong><span id="alerttxt"> Sample ui-state-error style.</span></p>
    </div>
        <input id = "id" type="hidden" value = "{{id}}">
    <div style="width:200px; float: left">
        <h4 class="demoHeaders">Логин</h4>
        <input id = "username" type="text" value = "{{username}}">
    </div>
    <div style="width:200px; float: left">
        <h4 class="demoHeaders">Пароль</h4>
        <input id = "password" type="text" value = "{{password}}">
    </div>
    <div style="width:390px; float: left">
        <h4 class="demoHeaders">Название</h4>
        <input id = "name" type="text" style="width:100%;" value = "{{name}}">
    </div>
    <div style="clear: both;"></div>
    <div style="width:200px; float: left">
        <h4 class="demoHeaders">E-mail</h4>
        <input id = "email" type="text" value = "{{email}}">
    </div>
    <div style="width:200px; float: left">
        <h4 class="demoHeaders">ot_musz</h4>
        <input id = "ot_musz" type="text" value = "{{ot_musz}}">
    </div>

    <div style="width:200px;  float: left">
        <h4 class="demoHeaders">Роль</h4>
        <select name="years" id="role" style="width:100%; height:20px;">

            {{#roles}}
                <option {{default}} value = {{role}}>{{rolename}}</option>
            {{/roles}}

        </select>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="footer">
</div>

<script src="/node/javascript/counter/message.js"></script>
<script>
var user_id = "{{id}}";
$(function() {
        $( "button" )
                .button()
                .click(function( event ) {
                    event.preventDefault();
                });
        });

function sendemail(user_id){
    /*
    $.get( '/node/admin/mailtouser',user_id, function(data) {
        message(data);
    });
    */
    //проверка перед отправкой
    var email =$("#email").val().trim();
    if (typeof user_id =='undefined'|| user_id.length == 0){
        errsend(' user_id пуст. некому отправлять');
        return
    };
    if (typeof email =='undefined'|| email.length == 0) {
        errinput('#email', ' Нет email. Некуда отправлять');
        return
    };
;
    //оправка
    $.ajax({
        url: '/node/admin/mailtouser',
        type: 'GET',
        cache: false,
        data: { user_id: user_id},
        success: function(data){
            myMsg(data);
        }
        , error: function(jqXHR, textStatus, err){
            errsend("Ошибка сервера. Письмо не отправлено");
        }
    })

};

//предварительная проверка полей перед сохранением пользователя
function validate(){
    var data = {
        //id: $("#id").val().trim(),
        id: user_id,
        username : $("#username").val().trim(),
    //var username = $("#username");
        password : $("#password").val().trim(),
    //var password = $("#password");

        name : $("#name").val().trim(),
        email : $("#email").val().trim(),
        ot_musz : $("#ot_musz").val().trim(),
        role : $("#role").val()
    }
/*
    if (ot_musz.defaultValue == ot_musz.value && username.defaultValue == username.value &&
        password.defaultValue == password.value && name.defaultValue == name.value &&
        email.defaultValue == email.defaultValue){ alert('nothing new'); return} //ничего нового в полях ввода. выходим без сохранения.
*/
    if(data.username.length == 0){
        errinput('#username',' Имя пользователя не должно быть пустое.')
        return
    };
    if(data.password.length == 0){
        errinput('#password',' Пароль не должен быть пуст.')
        return
    };

    sendtoserver(data);

};
//отправка содержимого поля на сервер
function sendtoserver(d){

    $.ajax({
        url: '/node/admin/usersave',
        type: 'GET',
        cache: false,
        data: {data : d},
        success: function(data){
            //alert('Success!');
            user_id = data;
            myMsg(' данные сохранены успешно');
        }
        , error: function(jqXHR, textStatus, err){
            errorfun(jqXHR) //public/javascript/counter
        }
    })
};
function deleteUser(user_id){
    if (user_id == undefined||user_id.length == 0){
        clearFields();
        return
    };
    $.ajax({
        url:'/node/admin/userdel',
        type:'GET',
        cache:false,
        data:{id:user_id},
        success: function(data){
            myMsg(' пользователь удален ');
            clearFields();
        },
        error: function(jqXHR, textStatus, err){
            errorfun(jqXHR) //public/javascript/counter
        }
    })
};
function clearFields(){
    user_id = "";
    //$("#id").val('');
    $("#username").val('');
    $("#password").val('');
    $("#name").val('');
    $("#email").val('');
    $("#ot_musz").val('');

};
</script>
